@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons-log-in {
    background: #00687B;
    height: 45px;
    width: 50%;
    border-radius: 15px;
    color: white;
    margin: 10px;
    margin-top: 50px;
}

.log-in-mode {
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.idle-mode{
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    opacity: 25%;
}

.line {
    margin: 10px;
}

.one-cit-1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.one-cit-2 {
    font-size: 50px;
    font-family: "Satisfy", cursive;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 10px black;
}

