@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons-log-in {
    background: #00687B;
    height: 45px;
    width: 50%;
    border-radius: 15px;
    color: white;
    margin: 10px;
    margin-top: 50px;
}

.log-in-page {
    flex: auto;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.log-in-mode {
    align-items: center;
}

.log-in-mode h1{
    font-weight: bolder;
    font-size: larger;
    margin: 10px;
}

.line {
    margin: 10px;
}