@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons-log-in {
    background: #00687B;
    height: 45px;
    width: 50%;
    border-radius: 15px;
    color: white;
    margin: 10px;
    margin-top: 50px;
}

.log-in-mode {
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.idle-mode{
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    opacity: 25%;
}

.line {
    margin: 10px;
}

.one-cit-1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.one-cit-2 {
    font-size: 50px;
    font-family: "Satisfy", cursive;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 10px black;
}
.quick-links{
    font-size: 20px;
    font-weight:700;
    padding-bottom: 10px;
    margin: 10px;
    margin-left: 15px;
}
.quick-container a{
    display: block;
    font-size:15px;
    font-weight: 600;
    transition: .5s;
    padding:10px;
    text-align: center  ;
}
.quick-container a:hover{
    background-color: gold;
    color: maroon;
    font-weight:700;
}
hr{
    margin: 0px 25px;
    opacity: 1;
}
.quicklink-background{
    margin-top: 10px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1) ;
}
